@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}
section {
    padding: 96px 0;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.container {
    max-width:1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.purple {
    color: #6415ff;
}


main {
    margin-bottom: 96px;
}
.section__tag{
    color: #6415ff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.section__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 32px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
/* 

NAVBAR ↓

*/
nav {
  padding: 24px 0;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}
.nav__menu a{
    text-decoration: none;
    color: #243e63;
    font-weight: 600;
}

.nav__link{
text-decoration: none;
color: #243e63;
font-weight: 600;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px ;
}
.nav__logo span {
    font-weight:700;
}
.nav__logo img {
    width: 50px;
    height: auto;
}
.both-signup {
    display: none;
    cursor: pointer;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}
.btn__menu span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #243e63;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}
/* 

HEADER / ABOUT US ↓

*/
header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__content {
    flex: 1;
}
    .header__img{
        flex: 1;
}
.header__customers{
    margin-top: 48px;
}
.header__customers--title{
    font-size: 12px;
    color: #a0aec0;
    font-weight: 700;
    margin-bottom: 16px;
}
.header__customers--logos img {
    width: 100%;
    max-width: 400px;
    opacity: 0.6;
}
/* 

FEATURES ↓

*/
.features__header {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 3rem auto;
}
.features__header p {
    color: #7c8ba1;
    line-height: 1.6;
}
.features {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
 
.features__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
 }
/* 

QUALITY WORK ↓

*/
#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quality__content {
    width: 50%;
}
.quality__img{
    width: 50%;
}
.quality__img img{
width: 100%;
}
/* 

STEPS ↓

*/
.steps .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.steps__content{
    width: 50%;
}
.steps__img {
    width: 50%;
}

.steps__list{
    margin-top: 32px;
}
.step{
    display: flex;
    margin-bottom: 24px;
}
.step__number{
    font-size: 20px;
    font-weight: 600;
    color: lightgrey;
    margin-right: 24px;
}
.step__title{
    font-size: 18px;
    font-weight: 700;
    font-weight: bold;
    margin-bottom: 8px;
}
.steps__para{
    font-size: 14px;
    color: #7c8ba1;
    line-height: 1.6;
}
/*

VALUES ↓

*/
#values .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.value__content {
    flex: 1;
}
#values .value__list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
}
#values .value__item{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.value__item i{
    font-size: 24px;
    color: #6415ff;
    flex-shrink: 0;
}
.value__item--text{
    display: flex;
    flex-direction: column;
}
.value__item--title{
    font-weight: bold;
}
.value__item--para{
    color: #7c8ba1;
}
.value__img{
    flex: 0 0 400px;
    text-align: center;
}
/*

PRICING ↓

*/
#pricing .row {
    display: flex;
   justify-content: space-between;
   gap: 24px;
   flex-wrap: wrap;
}
.pricing__cards{
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 64px;
}
.pricing__card{
    flex: 1;
    max-width: 350px;
    background-color: #f7f7f7;
    padding: 24px;
    border-top: 6px solid transparent;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease;
}
.pricing__card:nth-child(1){
    border-top-color: #38b2ac;
}
.pricing__card:nth-child(3){
    border-top-color: #f56565;
}
.pricing__card:hover{
    transform: translateY(-12px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
.pricing__card--featured{
    background: linear-gradient(135deg, #6415ff,#4c51bf);
    color: white;
    border-top-color: transparent;
    transform: scale(1.05);
}
.pricing__card--featured h3,
.pricing__card--featured p,
.pricing__card--featured li{
    color: white;
}
.pricing__title{
    font-size: 18px;
    font-weight: 700;
}
.pricing__subtitle{
    font-weight: 700;
    margin: 16px 0;
    color: #243e63;
}
.pricing__price{
    font-size: 36px;
    font-weight: 700;
    margin: 16px 0;
}
.pricing__period{
    font-size: 12px;
    color: #7c8ba1;
}
.pricing__features{
    list-style: none;
    padding: 0;
    margin: 24px 0;
}
.pricing__features li{
    margin-bottom: 12px;
}
/*
BUTTON
*/
.pricing__btn{
    background-color: #6415ff;
    color: white;
    border: none;
    padding: 12px 32px;
    border-radius: 999px;
    font-weight: 600;
    cursor: pointer;
}

.pricing__btn--featured{
background-color: white;
color: #6415ff;
}

/* 


TESTIMONIALS ↓

*/
#testimonials .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
     gap: 48px;
}
.testimonials__img,
.testimonials__content{
    flex:1;
}
.testimonial__rating{
    color: gold;
    margin-bottom: 16px;
}
.testimonial__rating i{
    margin-right: 4px;
}
.testimonials__img img{
    width: 100%;
}
.testimonial__user{
    display:flex;
    align-items: center;
    gap: 12px;
}
.testimonial__user-img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}
.testimonial__user-info{
    display: flex;
    flex-direction: column;
}
/* 

START / CALL TO ACTION ↓

*/
#cta{
    padding: 96px 0;
}
.cta__box {
    background: linear-gradient(135deg, #6415ff, #5011cc);
    padding: 64px;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    flex-wrap: wrap;
}
.cta__title{
    color: white;
    font-size: 32px;
    font-weight: 700;
    max-width: 600px;
    line-height: 1.4;
    margin: 0;
}
.cta__buttons{
    display: flex;
    gap: 16px;
}
/*
Buttons
*/
.btn{
    padding: 14px 32px;
    border-radius: 999px;
    font-weight: 600;
    text-decoration: none;
    transition: all 300ms ease;
}
.btn__primary{
    background: #6415ff;
    color: white;
    padding: 10px 24px;
    border-radius: 9999px;
    text-decoration: none;
}
.btn__primary:hover{
    background: #5011cc;
}
.btn__secondary{
    border: 2px solid white;
    color: white;
}
/* 

FOOTER ↓

*/
#footer {
    background: #6415ff;
    padding: 96px 0;
}
#footer .row{
    flex-direction: column;
}
.footer__links {
width: 100%;
display: flex;
justify-content: space-between;
}
.footer__column {
    display: flex;
    flex-direction: column;
} 
.footer__column--title{
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px;
}
.footer__link{
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 12px;
    transition: opacity 300ms ease;
}
.footer__link:hover{
opacity: 0.7;
}
/* 
DIVIDERS
*/
.footer__divider {
   width: 100%;
   height: 1px;
   background: rgba(255,255,255,0.2);
   margin: 64px 0;
}
/*
BOTTOM ROW
*/
.footer__bottom {
    Width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*
LOGO
*/
.footer__logo {
    display: flex;
    align-items: center;
    gap: 12px;
}
.footer__logo img {
    width: 32px;
    height: 32px;
}
.footer__logo span {
color: white;
font-size: 18px;
font-weight: 900;
}
/*
COPYRIGHT
*/
.footer__copyright{
    color: rgba(255,255,255,0.7);
    font-size: 14px;
}
/*
SOCIAL ICONS
*/
.footer__socials {
    display: flex;
    gap: 16px;
}
.footer__socials a {
background: white;
color: #6415ff;
width: 32px;
height: 32px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: all 300ms ease;
}
.footer__socials a:hover{
    background: #e0d4ff;
    transform: scale(1.1);
}
/* 

MOBILE RESPONSIVENESS ↓

*/
@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}
@media(max-width: 768px) {

  .nav__menu,
  .both-signup {
    display: none;
  }

  
  .nav__menu.active {
    display: flex;
  }


  .btn__menu {
    display: flex;
  }


  .both-signup {
    display: none;
  }

  .nav__links {
    position: relative;
  }
    #quality .row,
    #values .row {
        flex-direction: column;
    }
    .value__content,
    .value__img{
        width: 100%;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        flex-direction: column;
        align-items: center;
    }
    .pricing__card{
        width: 100%;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 0 16px;
    }
}